<style>
    .hello{ color: red;}
    hr{ border: 1px #ccc dashed;}
	
 	.btn-cho-primary{
		color: #007bff;
    	background-color: transparent;
	    background-image: none;
    	border-color: #007bff !important;
	}
	.btn-cho-success{
		background-color: green;
	    color: #007bff;
	    background-image: none;
	    background-color: transparent;
		border-color: green !important;
    	
	}
	.btn-cho-yellow{
		background-color: green;
	    color: #007bff;
	    background-image: none;
	    background-color: transparent;
		border-color: #ff7f00 !important;
	}
	.btn-cho:hover{
		color:#fff !important;
	}
	.footer-cho{
		background-color:black;
	}
</style>