<!-- /views/admin/master.html -->

<!doctype html>

<html>
<head>
<title>{{.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{include "layouts/head"}}
<link rel="stylesheet" href="/public/css/linearicons.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/magnific-popup.css">
<link rel="stylesheet" href="/public/css/nice-select.css">							
<link rel="stylesheet" href="/public/css/animate.min.css">
<link rel="stylesheet" href="/public/css/owl.carousel.css">

<link rel="stylesheet" href="/public/css/main.css">
<script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
</head>
<body>

<header id="header" id="home">
	<div class="header-top">
		<div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <a href="tel:+953 000 0000">+953 000 0000</a>
                    <a href="mailto:support@blockmarket.com">support@blockmarket.com</a>				
                </div>
            </div>			  					
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="/public/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/">Soccer</a></li>
                    <li><a href="/baseball">Baseball</a></li>
                    
                    <!--
					<li class="menu-has-children"><a href="">Blog</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>		
					-->				          
               
                </ul>
            </nav>	    		
        </div>
    </div>
</header>


		
		
		
		
{{template "content" .}}
<hr>
{{template "ad" .}}
<hr>
{{include "layouts/footer"}}